* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: grey;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
}

#logo {
    height: 1.5rem;
    margin: 1rem 0;
}

.inputIcon i {
    position: absolute;
}
  
/*.inputIcon {
    width: 100%;
}*/
  
.icon {
    padding: 0.3125rem 0;
    color: blue;
    min-width: 50px;
    text-align: center;
}
  
.inputField {
    width: 9rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
}

.hero {
    background-image: url("https://img.freepik.com/free-photo/abstract-colorful-vertical-lines-background_73152-2229.jpg?size=626&ext=jpg");
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 10rem 0;
}

h1 {
   color: grey; 
   font-size: 3rem;
}

.imageTop {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.imageTop img {
    width: 9.375rem;
    max-width: 31%;
    object-fit: cover;
    border-radius: 50%;
}
.text{
    text-align: center;
}
h3, h4, h5 {
    color: yellow;
}
.imageBottom {
    text-align: center;
}
.imageBottom img {
    width: 12.5rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.imageBottom h5, .imageBottom p {
    margin: 0rem;
}
.imageBottom p:last-child {
    margin-bottom: 1rem;
}
#yellowLine {
    height: 1rem;
    background-color: yellow;
}
footer {
    background-color: grey;
    text-align: center;
}
navbar {
    display: flex;
    flex-direction: column;
}
navbar:first-child{
    padding-top: 1rem;
}
a {
    color: white;
    text-decoration: none;
}
navbar a:last-of-type {
    margin-bottom: 1rem;
}
h4 {
    margin: 0;
    margin-bottom:0.5rem;
}

@media only screen and (min-width:800px) {
    header{
        padding: 1rem 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo {
        margin: 0;
        padding:0;
    }
    .inputField{
        margin: 0;
    }
    .content{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8rem;
    }
    .imageTop img {
        width: 15rem;
        max-width: 30%;
    }
    .imageBottom{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .imageBottom img{
        width: 6rem;
    }
    .contactsContainer{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1rem;
        column-gap: 1rem;
        max-width:50%;
    }
    .imageBottom p:last-child {
        margin-bottom: 0;
    }
    .navbar {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    navbar{
        padding-top: 1rem;
    }
    navbar:last-child{
        padding-bottom:1rem;
    }
}
